body{
font-family:Arial;
text-align:center;
}

button, input, select {
width:100%;
max-width:400px;
margin:6px auto;
display:block;
padding:10px;
}

table{
width:100%;
font-size:14px;
border-collapse:collapse;
}

td,th{
padding:6px;
border:1px solid #ccc;
}